@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="jumbotron panel panel-info">
    <h1>Welcome my dear visitor</h1>
    <p class="lead">Discover the latest jobs directly from companies on our opportunities, register now for free. Job opportunities, whatever your skills. Free corporate packages. Jobs in all governorates of Egypt. Business opportunities, whatever your experiences. Jobs, whatever your education. Real job opportunities. The largest Egyptian company in our opportunities..</p>
    <p><a href="~/home/index" class="btn btn-primary btn-lg">Return to Home page  &raquo;</a></p>
</div>

